extends layout.pug

block content
  .main
    .sidebar
      #user
        a.user__name(href="#") Lorem
        nav.menu
          a.menu__item(href="#") Put
          a.menu__item(href="#") Your
          a.menu__item(href="#") Menu
          a.menu__item(href="#") Here
    .content
      h1 Put your title here
      .preview__wrap
        article.preview
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!
          a.btn(href="#") More
        article.preview
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!
        article.preview
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus harum, enim voluptates in hic temporibus tempore nemo dolorem repudiandae laboriosam rem quam dolorum, at incidunt eaque expedita. Soluta, suscipit, velit!